@page "/products"

<h3>All Products</h3>
<MudCard>
    <MudCardContent>
        <MudText>ProductName</MudText>
        <MudText Typo="Typo.body2"> LOREM IPSUM </MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
    </MudCardActions>
</MudCard>

@code {

}