@inherits LayoutComponentBase

<PageTitle>BorderlessStores</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <MudAppBar Color="Color.Primary" Fixed="false">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
            <MudSpacer/>
            <MudIconButton Icon="@Icons.TwoTone.ShoppingCart" Color="Color.Inherit"></MudIconButton>
        </MudAppBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
